body{
  background-color: turquoise;
}
.title{
  color: black;
}
.card img{
  width:100%;
}
.homedelivery {
  height: 500px;
  /*margin: 0 100px; */
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(125, 76, 76, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
  box-shadow: 15px 15px 25px rgba(45, 70, 45, 0.589);
  border: 10px solid transparent;
}
.homedelivery img {
  width: 600px;
  height: 400px;
  float: left;
  margin-right: 20px;
  background-position: center;
  background-size: cover;
}
.homedelivery p {
  font-size: 20px;
}
.homedelivery h2 {
  text-align: center;
  padding-top: 120px;
}
.customs {
  height: 500px;
  /* margin: 0 100px;*/
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(125, 76, 76, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
  box-shadow: 15px 15px 25px rgba(112, 63, 63, 0.575);
  border: 10px solid transparent;
}
.customs img {
  width: 600px;
  height: 400px;
  float: left;
  margin-right: 20px;
}
.customs p {
  font-size: 20px;
}
.customs h2 {
  text-align: center;
  padding-top: 120px;
}
.marine {
  height: 500px;
  /* margin: 0 100px; */
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(125, 76, 76, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
  box-shadow: 15px 15px 25px rgba(51, 51, 80, 0.507);
  border: 10px solid transparent;
}
.marine img {
  width: 600px;
  height: 400px;
  float: left;
  margin-right: 20px;
}
.marine p {
  font-size: 20px;
}

.marine h2 {
  text-align: center;
  padding-top: 120px;
}

.services {
  background-color: rgb(194, 180, 180);
}
.services  h1{
  text-align: center;
}
.services  h2{
  text-align: center;
}
.servicesOne img{
  width:100%;
  height: 70%;
  padding-top: 40px;
}

.servicesOne p{
  margin-top: 20px;
}
.servicesOne{
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(125, 76, 76, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
}
@media only screen and (max-width : 320px) {
  /* body{
    background-color: rgb(194, 180, 180);
  } */
  .services {
    font-size: 15px !important;
    margin-top: -30px;
    position: relative;
    margin-left: -15px;
    width:330px;
    background-color: rgb(194, 180, 180);
  }
  .services  h1{
    font-size: 25px;
    color: whitesmoke;
  }
  .services  h2{
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    margin-top: 0px;
  }
  .servicesOne img{
    width:100%;
    height: 100%;
  }
}
